### Variables
Variables are fundamental elements in programming used to store data that can be referenced and manipulated in a program. In Python, variables are created when you assign a value to them, and they do not need explicit declaration to reserve memory space. The declaration happens automatically when you assign a value to a variable.

In [1]:
a = 100

In [3]:
# declaring and asssigning variables
age =  20
height = 6.5
name = "Raj"
is_student = True   # snake_case

# printing variables
print("age",age)
print("height:",height)
print("name:",name)

age 20
height: 6.5
name: Raj

In [4]:
## Naming Conventions
# Variable names should be descriptive
# They must start with a letter or an '_' and contains letter,numbers and underscores
# variables names case sensitive

#valid variable names

first_name = "Harsh"
_id = 5

In [5]:
## invalid variable name
2age = 30
first-name ="Harsh"  #The - (hyphen) is treated as the minus operator, not as part of a variable name
$name = "Harsh"
n@me = "Harsh"
first name = "Harsh"
if = "harsh"

SyntaxError: invalid decimal literal (3000203385.py, line 2)

In [6]:
## case sensitivity: Python is case sensitive

name = "Harsh"
Name = "Nandre"
print(name)
print(Name)

Harsh
Nandre

In [7]:
## variable types
# Python is dynamically typed,type of a variable is determined at runtime

age=25 #int
height=6.1 #float
name="harsh" #str
is_student=True #bool

print(type(name))

<class 'str'>

In [19]:
# type checking
a = 10
print(type(a))

<class 'int'>

In [ ]:
## Types of Type Conversion
# Implicit Type Conversion
# Explicit Type Conversion (Type Casting)

a = 10 
b = 2.5
c = a+b
print(a,type(a))
print(b,type(b))
print(c,type(c))

# int â†’ converted to float
# Python prevents data loss
# Result becomes float

10 <class 'int'>
2.5 <class 'float'>
12.5 <class 'float'>

In [ ]:
# Python is strongly typed.
# implicit convertion will not happen here

TypeError: can only concatenate str (not "int") to str
a = "10"
b = 5
print(a + b)

In [15]:
a = 10 
print(a,type(a))
b = str(a)
print(b,type(b))
print(type(a))

10 <class 'int'>
10 <class 'str'>
<class 'int'>

In [16]:
a = "10"
b = 5

result = int(a) + b
print(result)

15

In [ ]:
b = 5
print(bool(b))
print(float(b))
print(list(b))

True
5.0

TypeError: 'int' object is not iterable

In [28]:
b = "abc"
print(bool(b))
# print(float(b))
print(list(b))
print(set(b))
print(tuple(b))

True
['a', 'b', 'c']
{'a', 'b', 'c'}
('a', 'b', 'c')

In [18]:
int("Harsh")
# Because "Harsh" is not numeric.

ValueError: invalid literal for int() with base 10: 'Harsh'

In [31]:
## Dynamic typing
# python allows type of variable to change as program executes

var = 10
print(var,type(var))

var = "Hello"
print(var,type(var))

var = 1.3
print(var,type(var))

10 <class 'int'>
Hello <class 'str'>
1.3 <class 'float'>

In [34]:
## input
i = input()
print(i)

print(input())

age = int(input("what is your age?"))
print(age)

123
123
123

In [36]:
## simple calculator
num1 = float(input("enter num1: "))
num2 = float(input("enter num1: "))

sum = num1+num2
sub = num1-num2
div1 = num1/num2
div2 = num2/num1
multi = num1*num2
mod = num1%num2
floor = num1//num2
expo = num1**num2

print("addition",sum)
print("subtraction",sub)
print("division",div1)  # quotient
print(div2)
print("multiplication",multi)
print("modulo",mod)
print("floor",floor)
print("expo",expo)

addition 8.1
subtraction -3.3000000000000003
division 0.42105263157894735
2.375
multiplication 13.68
modulo 2.4
floor 0.0
expo 146.96166977052837

### Conclusion:
Variables are essential in Python programming for storing and manipulating data. Understanding how to declare, assign, and use variables effectively is crucial for writing functional and efficient code. Following proper naming conventions and understanding variable types will help in maintaining readability and consistency in your code.