esc+A = new cell appended

### Arithmetic

In [6]:
## Arithmethic Operation

a = 10
b = 5

add_result=a+b  #addiiton
sub_result=a-b  #substraction 
mult_result=a*b #multiplication
div_result=a/b  #division               ## float value always

floor_div_result=a//b ## floor division  ## only quotient which is whole number
modulus_result=a%b #modulus operation
exponent_result=a**b ## Exponentiation


print(add_result)
print(sub_result)
print(mult_result)
print(div_result)
print(floor_div_result)
print(modulus_result)
print(exponent_result)

15
5
50
2.0
2
0
100000

In [7]:
10/5

2.0

In [8]:
21/5

4.2

In [9]:
21//5

4

### Comparison

In [10]:
a = 10
b = 10
a==b

True

In [12]:
str1 = "Harsh"
str2 = "harsh"

str1==str2

False

In [13]:
str3="Krish"
str4="krish"

str3!=str4

True

In [14]:
# greater than 
num1 =  45
num2 = 55
num1>num2

False

In [15]:
# less than
num1 =  45
num2 = 55
num1<num2

True

In [17]:
# greater than or  equal to
num1 = 45
num2 = 45
num1>=num2

True

In [18]:
# less than or  equal to
num1 = 45
num2 = 45
num1>=num2

True

### Logical

In [ ]:
## And 
X=True
Y=True

result = X and Y
print(result)

True

In [ ]:
## OR
X=True
Y=False

result = X or Y
print(result)

True

In [23]:
# Not operator
X=False
not X

True

In [20]:
## Simple Calculator

# Simple calculator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

# Performing arithmetic operations
addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2
floor_division = num1 // num2
modulus = num1 % num2
exponentiation = num1 ** num2

# Displaying results
print("Addition:", addition)
print("Subtraction:", subtraction)
print("Multiplication:", multiplication)
print("Division:", division)
print("Floor Division:", floor_division)
print("Modulus:", modulus)
print("Exponentiation:", exponentiation)

Addition: 4.2
Subtraction: 0.20000000000000018
Multiplication: 4.4
Division: 1.1
Floor Division: 1.0
Modulus: 0.20000000000000018
Exponentiation: 4.840000000000001